/***********************************
   VARIABLES
***********************************/
@font-face{
    font-family: gotham-book;
    src: url('../fonts/gothamhtf-book-webfont.ttf');
}
@font-face{
    font-family: gotham-thin;
    src: url('../fonts/Gotham-Thin.otf');
}
@font-face{
    font-family: gotham-ultra;
    src: url('../fonts/Gotham-Ultra.otf');
}
@font-face{
    font-family: round-gotham;
    src: url('../fonts/GothamRounded-Book.ttf');
}
@font-face{
    font-family: round-italic;
    src: url('../fonts/GothamRounded-BookItalic.ttf');
}
@font-face{
    font-family: round-thin;
    src: url('../fonts/GothamRnd-Light.otf');
}
@font-face{
    font-family: round-ultra;
    src: url('../fonts/GothamRounded-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* fonts */
$gotham-book:   gotham-book;
$gotham-thin:	gotham-thin;
$gotham-ultra:	gotham-ultra;
$round-gotham:	round-gotham;
$round-italic:	round-italic;
$round-thin:	round-thin;
$round-ultra:	round-ultra;
$roboto-slab:	Roboto Slab;

/* primary n' oranges */
$orangeOne:     #fc842a; /* darkest */
$orangeTwo:     #fcb040; 
$orangeThree:   #f4c540;
$orangeFour:    #f7d569; /* lightest */

/* secondary */
$black:         #2c2929;
$gray:          #6b6b6b;
$lightGray:     #bbbcbc;
$white:         #ffffff;

/* accents */
$purple:        #a15a95;
$blue:          #59bec9;
$green:         #28b29a;
$peach:         #e76b7c; 

/* other colors */
$bgGray: #fafafa;

/* font-sizes */
$banner-font: 3rem;

/* screensize */
$lg-Desktop:    1500px;
$md-Desktop:    1440px;
$sm-Desktop:    1024px;
$tablet:        768px;
$lg-mobile:     425px;
$md-mobile:     375px;
$sm-moblie:     320px;
